@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.owner {
    font-size: 15px
}

.carousel-images {
    position: relative;
    border-radius: 10px;
    margin: auto;
    max-width: 100vw;
    max-height: 100vw;
    overflow: hidden;
}

.carousel-images img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.slide_direction {
    display: flex;
    justify-content: space-between;
}

.left,
.right {
    color: #fff;
    padding: 3px 0 1px 5px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 10px;
    height: 25px;
    width: 25px;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.leftIcon {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    z-index: 1;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px dashed #2d9d92;
    height: 150px;
    width: 150px;
    cursor: pointer;
    border-radius: 5px;
}

.uploaded_image {
    margin: 10px 0;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #e9f0ff;
}

.image-container {
    justify-content: center;
    margin-bottom: 10px;
}

.info-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.delete-icon {
    align-self: center;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.submitButton {
    margin: 0;
    font-weight: normal;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 16px;
    align-self: center;
    vertical-align: middle;
    display: inline;
    box-shadow: rgba(9, 94, 144, 0.2) 0 4px 12px, rgba(0, 122, 191, 0.1) 0 2px 3px;
}

.image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/* Styles for the fullscreen overlay */
.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    cursor: pointer;
}

.fullscreen-image img {
    height: 100vh;
    object-fit: cover;
}

@media screen and (max-width: 767px) {
    .fullscreen-image img {
        width: 100vw;
        height: auto;
        object-fit: contain;
    }
}

.button_carousel {
    display: grid;
    margin-top: 12px;
    grid-gap: 4px;
    grid-template-columns: repeat(5, [col] 100px);
    grid-template-rows: repeat(1, [row] 80px);
}

/*.green_icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%) grayscale(100%) brightness(0) invert(100%) sepia(100%) saturate(10000%) hue-rotate(-180deg);
}*/

.bluredImage {
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ccc;
}

